<div class='errors'>
    <% if @player %>
     <% if @player.errors.any? %>
       <% @player.errors.full_messages.each do |error| %>
        <div><%= error %></div>
      <% end %>
    <% end %>
  <% end %>
</div>
  <div class='form-target'>
    <% if @error %>
      There was a problem with your file upload.<br>Please check format.<br>
      Numbers can not be negative.<br>Pitches faced must be at least 1.<br>Date must base in YYYY-MM-DD format.
    <% end %>
    </div>
  </div>

  <div id="high-chart"></div>
<!-- style="min-width: 310px; height: 400px; max-width: 800px; margin: 0 auto" -->
