<div class='errors'>
    <% if @player %>
     <% if @player.errors.any? %>
       <% @player.errors.full_messages.each do |error| %>
        <div><%= error %></div>
      <% end %>
    <% end %>
  <% end %>
</div>
  <div class='form-target'>
    <% if @error %>
      There was a problem with your file upload.<br>Please check format.<br>
      Numbers can not be negative.<br>Pitches faced must be at least 1.<br>Date must base in YYYY-MM-DD format.
    <% end %>
    </div>
  </div>
  <div class='chart'>
  <%= scatter_chart Player.pluck(:pitches_faced, :hits, :name),
    width: "800px",
    height: "600px",
    label: 'Hits Scored',
    xtitle: "Pitches Faced",
    ytitle: "Hits",
    library: {
      tooltip: {
          pointFormat: "test"
        }
      }
    %>
  </div>
