  <div class='chart'>
  <%= scatter_chart Player.pluck(:pitches_faced, :hits, :name),
    width: "1000px",
    height: "600px",
    label: "Hits",
    xtitle: "Pitches Faced",
    ytitle: "Hits",
    library: {
      tooltip: {
          pointFormat: "<span style='color:red'>\u25CF</span> {series.name}: <b>{point.y}</b><br/>"
        }
      }
    %>
  </div>
