/*
 *= require_tree .
 *= require_self
 */

.chart {
  margin: 0 auto;
  width: 800px;
}

h1 {
  margin: 0;
  text-align: center;
}

.form-target {
  float: left;
}

.errors {
  color: red;
}

.form-container {
  text-align: center;
  width: 40%;
  margin-left: 20px;
  background-color: pink;
}

.upload {
  margin-top: 100px;
}

input {
  margin: 3px;
}
