/*
 *= require_tree .
 *= require_self
 */
body {
  font-family: sans-serif;
}

nav {
  font-size: 1.2em;
  display: inline-block;
  position: absolute;
  left: 20px;
  top: 18px;
}

header {
  background-color: #FF0044;
  color: white;
  width: 100%;
  padding: 5px;
  margin-bottom: 15px;
  text-align: center;
}

h1 {
  margin: 0 auto;
}

a {
  color: white;
  font-weight: bold;
}

a:hover {
  color: silver;
}

.chart {
  background-color: #E8E9EB;
  margin: 0 auto;
  width: 800px;
  padding: 5px;
  border-radius: 5px;
}


.form-target {
  color: #494A4C;
  float: left;
}

.errors {
  color: red;
}

.form-container {
  text-align: center;
  width: 190px;
  margin-left: 15px;
}

.upload {
  margin-top: `10`0px;
}

input {
  margin: 3px;
}
